* {
  font-family: "Montserrat", sans-serif;
  color: black;
  text-decoration: none;
  list-style: none;
  margin: 0;
  padding: 0;
}

.n-active {
  text-decoration: underline;
}

.footer {
  background-color: #000;
  margin-top: 50px;
  height: 209px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: none;
}
.footer div {
  text-align: center;
  max-width: none;
}
.footer div p {
  margin-top: 29px;
  font-size: 24px;
  color: white;
}

@media screen and (max-width: 768px) {
  .footer {
    margin-top: 20px;
    height: 221px;
  }
  .footer div p {
    font-size: 12px;
    width: 133.594px;
    margin: 29px auto 0px;
  }
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 45px auto;
  max-width: 1240px;
}

.navbar ul {
  display: flex;
  gap: 57px;
  font-size: 26px;
  padding: 0;
}
.navbar ul a {
  color: #FF6060;
}

@media screen and (max-width: 768px) {
  .header {
    max-width: 335px;
    margin: 20px auto;
  }
  .header img {
    width: 145px;
    height: 46.88px;
  }
  .navbar ul {
    gap: 26px;
    font-size: 12px;
    text-transform: uppercase;
  }
}
.hbanner {
  display: flex;
  justify-content: center;
  margin: 50px auto;
  max-width: 1240px;
}
.hbanner .banner {
  width: 100%;
  position: relative;
}
.hbanner .banner::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 96%;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 25px;
}
.hbanner .banner::before {
  height: 98%;
}
.hbanner .banner__img1 {
  width: 100%;
  height: 223px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 25px;
}
.hbanner .banner__text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 47px;
}
.hbanner .banner__text p {
  color: white;
}

.card-article {
  max-width: 1240px;
  margin: 43px auto 50px;
  background-color: #F6F6F6;
  padding-top: 56px;
  padding-bottom: 50px;
}
.card-article__contenair {
  display: flex;
  -moz-column-gap: 60px;
       column-gap: 60px;
  row-gap: 50px;
  flex-wrap: wrap;
  justify-content: center;
}
.card-article .card {
  position: relative;
  overflow: hidden;
}
.card-article .card__navg {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
}
.card-article .card__navg::before {
  content: "";
  position: absolute;
  border-radius: 10px;
  top: 0;
  left: 0;
  width: 100%;
  height: 99%;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
  z-index: 1;
}
.card-article .card__text {
  bottom: 20px;
  margin-left: 20px;
  position: absolute;
  width: 300px;
  color: white;
  font-size: 18px;
  z-index: 2;
}
.card-article .card img {
  width: 340px;
  height: 340px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
}

@media screen and (max-width: 768px) {
  .hbanner {
    margin: 27px 20px 0px 20px;
    max-width: none;
  }
  .hbanner .banner::before {
    border-radius: 10px;
    height: 97%;
  }
  .hbanner .banner__img1 {
    height: 111px;
    border-radius: 10px;
  }
  .hbanner .banner__text {
    left: 110px;
  }
  .hbanner .banner__text p {
    color: white;
    font-size: 24px;
    width: 192px;
  }
  .card-article {
    max-width: none;
    margin: 22px auto 27px;
    background-color: initial;
    padding-top: 0px;
    padding-bottom: 0px;
  }
  .card-article__contenair {
    row-gap: 20px;
  }
  .card-article .card {
    position: relative;
    overflow: hidden;
  }
  .card-article .card__navg {
    width: 100%;
    height: 100%;
    position: relative;
  }
  .card-article .card__navg::before {
    height: 98%;
  }
  .card-article .card__text {
    bottom: 15px;
    margin-left: 20px;
    width: 295px;
    font-size: 18px;
  }
  .card-article .card img {
    width: 335px;
    height: 255px;
    border-radius: 10px;
  }
}
.error {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 139px;
  margin-top: 139px;
  margin-bottom: 139px;
}
.error p {
  color: #FF6060;
}
.error > p {
  font-size: 288px;
  font-weight: 700;
  color: #FF6060;
}
.error > div p {
  font-size: 36px;
}
.error div a {
  font-size: 18px;
  color: #FF6060;
  text-decoration: underline;
}

@media screen and (max-width: 768px) {
  .error {
    gap: 113px;
    margin-top: 139px;
    margin-bottom: 139px;
  }
  .error > p {
    font-size: 96px;
  }
  .error > div p {
    font-size: 18px;
    text-align: center;
    max-width: 260px;
    line-height: 142.6%;
  }
  .error div a {
    font-size: 14px;
  }
}
.pbanner {
  display: flex;
  justify-content: center;
  max-width: 1240px;
  margin: 38px auto;
}
.pbanner .banner {
  width: 100%;
  position: relative;
}
.pbanner .banner::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 96%;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 25px;
}
.pbanner .banner__img2 {
  width: 100%;
  height: 223px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 25px;
}

.faq {
  margin: 0 auto;
  max-width: 1023px;
  margin-top: 38px;
  cursor: pointer;
}
.faq .question {
  border-radius: 5px;
  background-color: #FF6060;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: default;
  position: relative;
  z-index: 2;
  padding-right: 15px;
}
.faq .question h3 {
  color: white;
  padding: 10px 15px 10px 15px;
  font-size: 24px;
  font-weight: 500;
}
.faq .question svg {
  cursor: pointer;
  transition: transform 0.5s ease-in;
  margin: 0;
}
.faq .reponse {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease;
  position: relative;
  bottom: 5px;
  border-radius: 0px 0px 5px 5px;
  background-color: #f0f0f0;
  font-size: 20px;
  color: #FF6060;
}
.faq .reponse p {
  padding: 15px;
  color: #FF6060;
}
.faq.active .reponse {
  max-height: 400px;
  animation: fadeIn 0.6s ease-in;
}
.faq.active .reponse p {
  max-height: 400px;
  animation: TexteHeight 1.4s ease-out;
}
.faq.active svg {
  transform: rotate(-180deg);
}
@keyframes TexteHeight {
  from {
    max-height: 0%;
    transform: translateY(-100%);
  }
  to {
    max-height: 100%;
    transform: translateY(0);
  }
}
@keyframes fadeIn {
  from {
    max-height: 0%;
  }
  to {
    max-height: 100%;
  }
}

@media screen and (max-width: 768px) {
  .pbanner {
    max-width: none;
    margin: 19px 20px 0px 20px;
  }
  .pbanner .banner::before {
    border-radius: 10px;
  }
  .pbanner .banner__img2 {
    height: 111px;
    -o-object-fit: cover;
       object-fit: cover;
    border-radius: 10px;
  }
  .faq {
    max-width: none;
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 20px;
  }
  .faq .question h3 {
    padding: 10px 15px 10px 15px;
    font-size: 13px;
    font-weight: 500;
  }
  .faq .question svg {
    height: 18px;
    width: 18px;
  }
  .faq .reponse {
    font-size: 13px;
  }
}
.notes {
  fill: #E3E3E3;
  display: flex;
  gap: 10px;
}
.notes .c-etoile svg {
  fill: #FF6060;
}

.l-faq {
  display: flex;
  justify-content: space-between;
  gap: 76px;
}
.l-faq .faq {
  max-width: 1023px;
  margin-top: 38px;
  cursor: pointer;
  width: 100%;
}
.l-faq .faq p {
  margin-top: 20px;
}
.l-faq .faq p li {
  color: #FF6060;
  margin-bottom: 5px;
}

.info-logement {
  max-width: 1240px;
  margin: 0 auto;
}
.info-logement > div {
  display: flex;
  justify-content: space-between;
}
.info-logement_head {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.info-logement_head__title h1 {
  color: #FF6060;
  font-size: 36px;
  font-weight: 500;
  line-height: 142.6%;
}
.info-logement_head__title p {
  color: #FF6060;
  font-size: 18px;
  font-weight: 500;
  line-height: 26.67px;
}
.info-logement_head__profile {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}
.info-logement_head__profile p {
  color: #FF6060;
  font-size: 18px;
  text-align: right;
  max-width: 93px;
}
.info-logement_head__profile img {
  width: 64px;
  height: 64px;
  border-radius: 50%;
}
.info-logement_cachalot {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.info-logement_cachalot__category ul {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-top: 20px;
}
.info-logement_cachalot__category ul li {
  color: white;
  background-color: #FF6060;
  border-radius: 10px;
  padding: 4px 30px;
}

.carousel {
  display: flex;
  justify-content: center;
  position: relative;
  max-width: 1240px;
  margin: 50px auto 30px;
}
.carousel img {
  width: 100%;
  height: 415px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 25px;
}
.carousel .arrow-left {
  position: absolute;
  top: 45%;
  left: 26.36px;
  cursor: pointer;
}
.carousel .arrow-right {
  position: absolute;
  top: 45%;
  right: 26.36px;
  cursor: pointer;
}
.carousel span {
  position: absolute;
  bottom: 24.92px;
  width: 24px;
  height: 32px;
  font-size: 18px;
  font-weight: 500;
  color: white;
}

@media screen and (max-width: 768px) {
  .info-logement {
    margin: 0px 20px 0px 20px;
  }
  .info-logement > div {
    flex-direction: column;
    justify-content: space-between;
  }
  .info-logement_head {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .info-logement_head__title h1 {
    font-size: 18px;
  }
  .info-logement_head__title p {
    font-size: 14px;
    line-height: 19.964px;
    margin-top: 5px;
  }
  .info-logement_head__profile p {
    font-size: 12px;
  }
  .info-logement_head__profile img {
    width: 32px;
    height: 32px;
  }
  .info-logement_cachalot {
    flex-direction: row-reverse;
    margin-top: 16px;
  }
  .info-logement_cachalot__category ul {
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 10px;
  }
  .info-logement_cachalot__category ul li {
    padding: 2px 20px;
    font-size: 10px;
  }
  .notes {
    gap: 5px;
  }
  .notes span svg {
    height: 14px;
    width: 14px;
  }
  .carousel {
    margin: 27px 20px 15px 20px;
  }
  .carousel img {
    height: 255px;
    border-radius: 10px;
  }
  .carousel .arrow-left {
    left: 10px;
    width: 24px;
    height: 24px;
  }
  .carousel .arrow-right {
    right: 10px;
    width: 24px;
    height: 24px;
  }
  .carousel span {
    display: none;
  }
  .l-faq {
    gap: 20px;
    margin-top: 20px;
  }
  .l-faq .faq {
    margin: 0 auto;
  }
  .l-faq .faq p {
    margin-top: 5px;
  }
}/*# sourceMappingURL=style.css.map */