.error {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 139px;
    margin-top: 139px;
    margin-bottom: 139px;
    p {
        color: $primair-color;
    }
    > p {
        font-size: 288px;
        font-weight: 700;
        color: $primair-color;
    }
    > div p {
        font-size: 36px;
    }
    div a {
        font-size: 18px;
        color: $primair-color;
        text-decoration: underline;
    }
}

@media screen and (max-width: 768px) {
    .error {
        gap: 113px;
        margin-top: 139px;
        margin-bottom: 139px;

        > p {
            font-size: 96px;
        }
        > div p {
            font-size: 18px;
            text-align: center;
            max-width: 260px;
            line-height: 142.6%;
        }
        div a {
            font-size: 14px;
        }
    }
}