.footer {
    background-color: $black;
    margin-top: 50px;
    height: 209px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: none;
    div {
        text-align: center;
        max-width: none;
        p {
            margin-top: 29px;
            font-size: 24px;
            color: $white;
        }
    }
}

@media screen and (max-width: 768px) {
    .footer {
        margin-top: 20px;
        height: 221px;
        div {
            p {
                font-size: 12px;
                width: 133.594px;
                margin: 29px auto 0px;
            }
        }
    }
}