.footer {
    background-color: $black;
    margin-top: 50px;
    height: 209px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: none;
    div {
        text-align: center;
        max-width: none;
        p {
            margin-top: 29px;
            font-size: 24px;
            color: $white;
        }
    }
}