.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 45px auto;
    max-width: 1240px;
}

.navbar {
    ul {
        display: flex;
        gap: 57px;
        font-size: 26px;
        padding: 0;
        a {
            color: $primair-color;
        }
    }
}

@media screen and (max-width: 768px) {
    .header {
        max-width: 335px;
        margin: 20px auto;


        img {
            width: 145px;
            height: 46.88px;
        }
    }
    .navbar {
        ul {
            gap: 26px;
            font-size: 12px;
            text-transform: uppercase;
        }
    }
}